@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'noorehidayat';
    src: url('/public/assets/font/noorehidayat.ttf') format('truetype');
    font-display: swap;
  }
  
  .arabic-font {
    font-family: 'noorehidayat';
  }

  /* .bg-quran{
    background-image: url("./../../public/assets/images/quran1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */